/* CSS declarations go here */
@font-face{
    font-family: "Francisco-Semibold";
    src:url("/fonts/SanFranciscoDisplay-Semibold.otf");
}

@font-face{
    font-family: "Francisco-Light";
    src:url("/fonts/SanFranciscoDisplay-Light.otf");
}

@font-face{
    font-family: "Francisco-Medium";
    src:url("/fonts/SanFranciscoDisplay-Medium.otf");
}

@font-face{
    font-family: "Francisco-Ultralight";
    src:url("/fonts/SanFranciscoDisplay-Ultralight.otf");
}

:root{
	--nav-element-text-size:18.2px;
	--nav-element-text-color:#414141;
	--nav-element-text-font:"Francisco-UltraLight";
}


.navBar{
	width:100vw;
	background-color:#fdfdfd;
	display: flex;
	flex-direction: row;
 	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.navBar .leftHandSide{
	width: 50vw;
	display: flex;
	flex-direction: row;
}

.navBar .leftHandSide .navBarPlaceHolder{
	margin-right: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding:17px 0 17px 0; /*fix the static dimensions*/
}

.navBar .leftHandSide .navBarPlaceHolder .navBarElementContainer{
	padding-left: 2vw;
	font-size: var(--nav-element-text-size);
	color: var(--nav-element-text-color);
	font-family:var(--nav-element-text-font);
}


.navBar .rightHandSide{
	width: 50vw;
	display: flex;
	flex-direction: row;
} 

.navBar .rightHandSide .navBarPlaceHolder{
	margin-left: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding:17px 0 17px 0; /*fix the static dimensions*/
}

.navBar .rightHandSide .navBarPlaceHolder .navBarElementContainer{
	width: 33%;
	padding-right: 2vw;
	font-size: var(--nav-element-text-size);
	color: var(--nav-element-text-color);
	font-family:var(--nav-element-text-font);
}

.navBar .navBarPlaceHolder .navBarElementContainer:hover{
	color: rgba(141,141,141,0.8);
	cursor: pointer;
}












