<template name="login">
	<div class="loginContainer">
		<video loop muted autoplay poster="img/videoframe.jpg" class="videoBackground">
	        <source src="pupperRunning.mp4" type="video/mp4">
	    </video>
		<div class="loginBoxesContainer">
			<div class="loginBox">
				<div class="facebookLogin">
					<img class="facebookLogo" src="facebookLogo.png">
					<span class="facebookLoginText">Login with Facebook</span>
				</div>
					<hr class="orLine">
					<form id="login-form" action="action">
				        <input type="email" id="login-email" placeholder="Email" />
				        <input type="password" id="login-password" placeholder="Password" />
		        		<span class="registerLink">Don't have an account ?</span>
				        <input type="submit" id="login-button" value="Sign in" />
					</form> 
			</div>
		</div>
	</div>
</template>