<template name="login">
	<div class="loginContainer">
		<video loop muted autoplay poster="img/videoframe.jpg" class="videoBackground">
	        <source src="pupperRunning.mp4" type="video/mp4">
	    </video>
		<div class="loginBoxesContainer">
			<div class="loginBox">
				<div class="facebookLogin">
					<img class="facebookLogo" src="facebookLogo.png">
					<span class="facebookLoginText">Login with Facebook</span>
				</div>
					<hr class="orLine">
					<form id="login-form" action="action">
				        <input type="email" id="login-email" placeholder="Email" />
				        <input type="password" id="login-password" placeholder="Password" />
		        		<span class="registerLink">Don't have an account ?</span>
				        <input type="submit" id="login-button" value="Sign in" />
					</form> 
			</div>
		</div>
		{{>registerPopUp}}
	</div>
</template>

<template name="registerPopUp">
	<div class="overlay">
		<div class="registerPopUpContainer">
			<div class="closePopUp">
				<span class="closeButton"><i class="fa fa-times fa-lg"  id="xButtonRegister" aria-hidden="true"></i></span>
			</div>
			<div class="facebookRegister">
				<img class="facebookLogo" src="facebookLogo.png">
				<span class="facebookRegisterText">Register with Facebook</span>
			</div>
			<hr class="orLine">		
			<form id="register-form" action="action">
		       <input type="email" id="account-email" placeholder="Email" />
		       <input type="password" id="account-password" placeholder="Password" />
		       <input type="submit" id="create-account" value="Create an Account" />
	  		</form>	
	  	</div>	
	</div>
</template>