<template name="navBar">
  <div class="navBar">
  	<div class="leftHandSide">
  		<div class="navBarPlaceHolder">
	  		<span class="navBarElementContainer" id="petTrace">petTrace</span>
  		</div>
  	</div>
  	<div class="rightHandSide">
  		<div class="navBarPlaceHolder">
      {{> loginOptions}}
  		</div>
  	</div>
  </div>
</template>

<template name="loginOptions">
{{#if currentUser}}
  <span class="navBarElementContainer" id="search">search</span>
  <span class="navBarElementContainer" id="userName">{{currentUser.profile.name}}</span>
{{else}}
  <span class="navBarElementContainer" id="learch">search</span>
  <span class="navBarElementContainer" id="login">login</span>
  {{#if isloginServicesConfigured}}
  {{/if}}
{{/if}}
</template>